---
apiVersion: v1
kind: Namespace
metadata:
  name: vault
  labels:
    name: vault

---
apiVersion: v1
kind: Namespace
metadata:
  name: services
  labels:
    name: services

---
apiVersion: v1
kind: Namespace
metadata:
  name: internal
  labels:
    name: internal

---
apiVersion: v1
kind: Namespace
metadata:
  name: gateway
  labels:
    name: gateway

---
apiVersion: v1
kind: Namespace
metadata:
  name: databases
  labels:
    name: databases