# -------------------------
# Auth Service
# -------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: services
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: rhaloubi8/payment-gateway-auth:latest
        ports:
        - containerPort: 8001
        - containerPort: 50051
        env:
        - name: PORT
          value: "8001"
        - name: APP_MODE
          value: "production"
        - name: GRPC_PORT
          value: "50051"
        - name: DATABASE_DSN
          valueFrom:
            secretKeyRef:
              name: database-secrets
              key: auth-dsn
        - name: REDIS_DSN
          valueFrom:
            secretKeyRef:
              name: database-secrets
              key: redis-dsn
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: jwt-secret
        - name: GIN_MODE
          value: "release"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /health
            port: 8001
          initialDelaySeconds: 40
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /health
            port: 8001
          initialDelaySeconds: 20
          periodSeconds: 15
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: services
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
  - name: http
    port: 8001
    targetPort: 8001
  - name: grpc
    port: 50051
    targetPort: 50051

