# -------------------------
# Transaction Service
# -------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service
  namespace: internal
spec:
  replicas: 2
  selector:
    matchLabels:
      app: transaction-service
  template:
    metadata:
      labels:
        app: transaction-service
    spec:
      containers:
      - name: transaction-service
        image: rhaloubi8/payment-gateway-transaction:latest
        ports:
        - containerPort: 50053
        env:
        - name: GRPC_PORT
          value: "50053"
        - name: APP_MODE
          value: "production"
        - name: DATABASE_DSN
          valueFrom:
            secretKeyRef:
              name: database-secrets
              key: transaction-dsn
        - name: REDIS_DSN
          valueFrom:
            secretKeyRef:
              name: database-secrets
              key: redis-dsn
        - name: TOKENIZATION_SERVICE_GRPC
          value: "tokenization-service.internal:50052"
        - name: GIN_MODE
          value: "release"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
---
apiVersion: v1
kind: Service
metadata:
  name: transaction-service
  namespace: internal
spec:
  type: ClusterIP
  selector:
    app: transaction-service
  ports:
  - port: 50053
    targetPort: 50053
